.quantityMain {
  padding: 0px 30px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fbf8f8;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: -10px;
  border-radius: 7px;
  height: 95px;
}

.plusMain {
  display: flex;
}

.plusDiv {
  background-color: rgb(230, 225, 225);
  width: 28px;
  height: 90px;
  margin-top: 10px;
  border-radius: 50px;
  padding-top: -30px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.plusDiv h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
}

.plusDiv h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.plusDiv p {
  margin: -20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.mainImgDiv {
  display: flex;
  align-items: center;
  flex: 1;
}

.coverDiv {
  display: flex;
  align-items: center;
  flex: 1;
}

.imgDiv img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 100%;
}

.nameDiv {
  font-size: 14px;
  color: rgb(92, 91, 91);
}

.qty {
  margin: -17px 0px -10px 0px;
}

.btn {
  margin-top: -65px;
  border: none;
  font-size: 22px;
  background-color: #fbf8f8;
  color: brown;
  cursor: pointer;
}

.nairaDi {
  display: flex;
  align-items: center;
}

.nairaDi i {
  font-size: 12px;
  margin-right: 3px;
}

.quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(227, 227, 227);
  margin-top: 10px;
  font-size: 16px;
}

.quantity div {
  margin-top: -15px;
}

.quantity2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(227, 227, 227);
  font-size: 16px;
  margin-top: -10px;
}

.quantity2 div {
  margin-top: -26px;
  margin-bottom: -16px;
}

.quantitySub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
}

.subMainOne {
  background-color: #ffff;
  padding: 20px;
  border-radius: 7px;
}

.subMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.subMainSignUp,
.subMainSignIn,
.subMainSignIn2 {
  cursor: pointer;
}

.subMainSignUp,
.subMainSignUp1 {
  display: flex;
  align-items: center;
  width: 40%;
  height: 35px;
  padding-left: 10px;
}

.subMainSignUp i,
.subMainSignUp1 i,
.subMainSignIn i,
.subMainSignIn2 i {
  padding-right: 5px;
}

.subMainSignIn,
.subMainSignIn2 {
  display: flex;
  align-items: center;
  width: 60%;
  height: 35px;
  padding-left: 10px;
}

.subMainSignIn i,
.subMainSignUp i,
.subMainSignUp1 i,
.subMainSignIn2 i {
  font-size: 10px;
}

.subMainSignUp1 {
  border-top: 1px solid green;
  border-right: 1px solid green;
  border-left: 1px solid green;
  cursor: pointer;
}

.subMainSignIn2 {
  border-top: 1px solid green;
  border-left: 1px solid green;
  border-right: 1px solid green;
}

.subMainSignIn {
  border-bottom: 1px solid gray;
}
.subMainSignUp {
  border-bottom: 1px solid gray;
}

.signUp {
  margin-top: 10px;
}

.signIn {
  margin-top: 10px;
}

.active:global(.active) {
  color: green;
}

.inputName p {
  margin-left: 6px;
  margin-bottom: 5px;
  font-size: 16px;
}

.divInput {
  display: flex;
  flex: 1;
  margin: 0px 6px;
  border: 1px solid rgb(209, 206, 206);
  padding: 5px 0px;
  background-color: #ffff;
  border-radius: 3px;
}

.divInput input {
  display: flex;
  flex: 1;
  border: none;
  outline: none;
  padding: 4px 0px;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 5px;
  color: #ffff;
}

.register div {
  background-color: blue;
  padding: 7px;
  font-size: 16px;
  border-radius: 3px;
}

.register div i {
  font-size: 8px;
  margin-left: 5px;
}
