.menuLetter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

.menuLetter div h3 {
  display: flex;
  justify-content: center;
}

.div1 {
  display: flex;
  align-items: center;
  margin-top: -15px;
  margin-bottom: -10px;
  margin-left: 0px;
  width: 130px;
}

.div {
  width: 70px;
  height: 3px;
  background-color: rgb(222, 175, 118);
  opacity: 1;
  border-radius: 5px;
}

.div2 {
  width: 100px;
  height: 0.5px;
  background-color: rgb(222, 175, 118);
  opacity: 0.6;
}

.phoneDiv {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgb(35, 35, 35);
}

.phoneDiv div i {
  margin-right: 20px;
  background-color: rgb(232, 211, 211);
  color: brown;
  padding: 15px;
  border-radius: 100%;
}

.phoneDi i {
  margin-right: 20px;
  background-color: rgb(232, 211, 211);
  color: red;
  padding: 25px;
  border-radius: 100%;
}

.phoneDivSub h2 {
  margin-bottom: -15px;
}

.phoneDiv i:hover {
  background-color: rgb(92, 23, 23);
  color: #ffff;
}

.phoneDivSub p {
  margin-bottom: -15px;
}
