.main {
  margin-top: -30px;
}

.main h2 {
  margin-left: 40px;
  color: rgb(90, 88, 88);
  margin-bottom: -18px;
}

.main p {
  margin-left: 40px;
  color: rgb(90, 88, 88);
}

.mainDiv {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgb(214, 213, 213);
  padding: 15px 0px 6px 0px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: rgb(223, 243, 227);
}

.mainDivButtonSub {
  display: flex;
  justify-content: center;
  background-color: rgb(75, 109, 82);
  padding: -7px 0px 7px 0px;
  border-top: 2px solid rgb(187, 246, 91);
}

.mainLink {
  text-decoration: none;
}

.mainDivButton {
  border: none;
  background-color: rgb(75, 109, 82);
  font-size: 16px;
  color: #ffff;
  cursor: pointer;
}

.mainDiv button {
  border: none;
  background-color: rgb(75, 109, 82);
  font-size: 16px;
  padding: 15px 0px 15px 0px;
  color: #ffff;
  border-top: 2px solid rgb(187, 246, 91);
  cursor: pointer;
}

.totalSub {
  display: flex;
  justify-content: center;
  color: rgb(49, 49, 49);
  margin-bottom: 5px;
}
