@media screen and (min-width: 320px) {
  .homeFooterMain {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 30px;
    background-color: white;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 10px;
    padding-bottom: 45px;
  }

  .daysList {
    display: flex;
    align-items: center;
    padding-left: 3.5rem;
    font-size: 0.9rem;
    color: rgb(74, 74, 74);
    margin-bottom: -20px;
  }

  .days1 {
    margin-right: 40px;
  }

  .days2 {
    margin-right: 36px;
  }

  .days3 {
    margin-right: 36px;
  }

  .days4 {
    margin-right: 18.5px;
  }

  .days5 {
    margin-right: 36px;
  }

  .days6 {
    margin-right: 47px;
  }

  .days7 {
    margin-right: 34px;
  }

  .timeDiv {
    display: flex;
    align-items: center;
  }

  .timeDiv i {
    color: rgb(179, 156, 25);
    margin-right: 10px;
    font-size: 11px;
  }

  .business {
    margin-left: 5rem;
    margin-bottom: 1px;
  }

  .timeDiv {
    display: flex;
    align-items: center;
  }

  .headerSub {
    margin-right: 1.5rem;
  }

  .quick {
    margin-bottom: 1px;
  }

  .subArrow {
    display: flex;
    font-size: 0.9rem;
    color: rgb(74, 74, 74);
    margin-right: 10px;
    margin-bottom: -20px;
  }

  .gt {
    margin-right: 8px;
    color: rgb(179, 156, 25);
  }

  .barcodeDiv {
    display: flex;
    justify-content: center;
  }

  .footerDiv2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(214, 212, 212);
    height: 10px;
    margin-bottom: 90px;
  }

  .footerDiv2 p {
    margin-top: 60px;
    margin-right: 5px;
    color: rgb(80, 80, 80);
  }

  .footerDiv2P {
    font-style: italic;
  }

  .stanforde {
    display: flex;
    justify-content: center;
    color: black;
  }

  .independDiv {
    justify-items: center;
    align-items: center;
    margin-top: -40px;
    margin-bottom: -25px;
    color: rgb(95, 93, 93);
  }

  .independDiv div {
    display: flex;
    align-items: center;
    margin-bottom: -35px;
  }

  .independDiv div i {
    margin-right: 5px;
    font-size: 15px;
  }

  .mailDiv {
    display: flex;
    align-items: center;
    align-items: center;
    color: rgb(0, 157, 255);
    margin-bottom: 20px;
  }

  .mailDiv p {
    text-decoration: none;
  }

  .mailDiv i {
    font-size: 15px;
    margin-right: 10px;
  }

  .navLink {
    text-decoration: none;
  }

  .email {
    text-decoration: none;
  }
}

@media screen and (min-width: 990px) {
  .homeFooterMain {
    display: flex;
    justify-content: left;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: white;
  }

  .daysList {
    display: block;
    padding-left: 4rem;
    font-size: 1rem;
  }

  .business {
    display: flex;
    justify-content: center;
  }

  .headerSub {
    margin-left: 5rem;
  }

  .barcodeDiv {
    justify-items: left;
  }
}

@media screen and (min-width: 768px) {
  .floatCart {
    position: fixed;
    opacity: 1;
    right: 0;
    bottom: 0;
    margin-bottom: 11rem;
    margin-right: 4rem;
    background-color: white;
    padding-left: 0.5rem;
    border-radius: 100%;
    width: 2.5rem;
    height: 3rem;
    box-shadow: rgb(150, 149, 149) 1px 2px 6px 2px;
    cursor: pointer;
  }

  .floatCart2 {
    position: fixed;
    opacity: 1;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    margin-bottom: 11rem;
    margin-right: 4rem;
    background-color: white;
    padding: 10px 8px 4px 8px;
    border-radius: 100%;
    box-shadow: rgb(150, 149, 149) 1px 2px 6px 2px;
    cursor: pointer;
  }

  .floatCart p {
    margin-bottom: -0.5rem;
    margin-left: 0.8rem;
    color: white;
    background-color: green;
    width: 0.8rem;
    padding-left: 0.4rem;
    padding-bottom: 0.1rem;
    padding-right: 0.01rem;
    padding-top: 0.1rem;
    font-size: 0.9rem;
    border-radius: 100%;
  }

  .floatCart i {
    color: green;
  }

  .floatCartNumber {
    display: none;
  }

  .floatCartNumber2 {
    padding-right: ;
  }
}

@media screen and (min-width: 992px) {
  .daysList {
    display: flex;
    align-items: center;
    padding-left: 7rem;
    font-size: 1rem;
  }
}
