.mainHeader {
  background-color: #ffff;
  padding-bottom: 150px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 8px 7px 0px;
  background-color: rgb(237, 234, 234);
  border-bottom: 1px solid rgb(218, 218, 218);
}

.header div img {
  width: 110px;
  cursor: pointer;
}

.header div i {
  font-size: 25px;
  color: rgb(144, 144, 144);
  padding: 7px 17px 7px 17px;
  border: 1px solid rgb(196, 195, 195);
  border-radius: 3px;
  cursor: pointer;
}

.login {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgb(237, 234, 234);
  border-bottom: 1px solid rgb(218, 218, 218);
  margin-top: 170px;
  padding: 40px;
  text-decoration: none;
}

.login div i {
  font-size: 13px;
  border: none;
  background-color: rgb(15, 199, 215);
  border-radius: 0px;
  color: #ffff;
  margin-right: -20px;
  padding: 13px 20px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.login button {
  border: none;
  color: #ffff;
  background-color: rgb(15, 199, 215);
  font-size: 16px;
  padding: 10.5px 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  padding-top: 30px;
}

.section div div {
  display: flex;
  justify-content: center;
}

.section div img {
  width: 80px;
  border-radius: 100%;
  padding: 6px;
  border: 1px solid rgb(244, 242, 242);
}

.section h3 {
  font-size: 23px;
  font-weight: 20;
}

.section p {
  font-size: 16px;
  margin-top: -15px;
}

.phone {
  padding-left: 10px;
  font-size: 18px;
  padding: 0px 10px;
}

.phone div i {
  margin-right: 8px;
  color: rgb(45, 45, 46);
}

.phone div input {
  display: flex;
  border: 1px solid rgb(226, 225, 225);
  outline: none;
  padding: 13px 60% 13px 10px;
  margin: 10px 0px 20px 0px;
}

.phone div span {
  color: rgb(0, 140, 255);
}

.signIn {
  display: flex;
  justify-content: center;
  background-color: rgb(15, 199, 215);
  padding: 10px 0px;
  margin: 0px 10px;
  font-size: 16px;
  color: #ffff;
  margin-bottom: 20px;
  text-decoration: none;
  cursor: pointer;
}

.signIn i {
  margin-right: 10px;
}

.deliver {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
  font-size: 14px;
}

.deliver1 {
  margin-right: 10px;
}

.deliver1 i {
  font-size: 12px;
}

.account {
  margin-bottom: 30px;
  padding-left: 10px;
  font-size: 15px;
  color: rgb(80, 79, 79);
}

.accountI {
  color: rgb(0, 140, 255);
  cursor: pointer;
  margin-left: 5px;
}

.in {
  display: flex;
  justify-content: center;
}
