.menuLetter {
  align-items: center;
  justify-items: center;
}

.div1 {
  display: flex;
  align-items: center;
  margin: -10px;
}

.div {
  width: 80px;
  height: 2.2px;
  background-color: rgb(222, 175, 118);
  opacity: 1;
  border-radius: 5px;
}

.div2 {
  width: 100px;
  height: 0.5px;
  background-color: rgb(222, 175, 118);
  opacity: 0.6;
}
