.selectMai1 {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.nairaDi {
  display: flex;
  align-items: center;
}

.nairaDi i {
  font-size: 12px;
  margin-right: 3px;
  margin-top: -19px;
}

.cartLogo i {
  color: rgb(13, 98, 13);
  margin-right: 5px;
}

@media screen and (min-width: 320px) {
  .selectMai1 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .menuHeader {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 380px;
    margin-top: 10px;
    z-index: 1;
    background-color: rgb(216, 218, 218);
    color: gray;
    border-radius: 5px;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 12px;
  }

  .menuHeader {
    overflow: scroll;
  }

  .menuLi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    margin-left: -42px;
    margin-top: -1px;
    border-top-left-radius: 5px;
  }

  .menuLi h3 {
    margin-left: 15px;
  }

  .menuLi button {
    margin-right: 15px;
    font-size: 23px;
    font-weight: bold;
    border: none;
    background-color: #ffff;
    color: gray;
  }

  .menuHeader img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin-left: -41px;
    margin-bottom: -15px;
  }

  .dishSub {
    margin-left: -25px;
  }

  .dishSub h5 {
    margin: -21px 0px 0px 0px;
  }

  .commentDiv {
    margin: -15px 0px 30px -25px;
  }

  .commentDiv p {
    margin-bottom: 8px;
  }

  .commentDiv input {
    width: 379px;
    padding: 4px 0px 30px 1px;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 0.5px solid rgb(216, 214, 214);
  }

  .addMainDiv1 {
  }

  .addMainDiv {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #ffff;
    width: 400px;
    height: 70px;
    margin-left: -38px;
    margin-top: -1px;
    margin-right: px;
    border-top: 1px solid rgb(180, 178, 178);
  }

  .addMainDiv button {
    padding: 11px;
    border: none;
    margin-right: 8px;
    border-radius: 5px;
    font-weight: bold;
    color: #ffff;
    background-color: blue;
    cursor: pointer;
  }

  .addMainDiv div img {
    width: 21px;
    height: 11px;
    margin-bottom: 3px;
    margin-right: 3px;
  }

  .addMainDiv div {
    display: flex;
    align-items: center;
    padding: 1px 17px 1px 10px;
    height: 35px;
    border: none;
    margin-right: 15px;
    border-radius: 5px;
    background-color: rgb(229, 155, 18);
    font-size: 15px;
    color: #ffff;
    cursor: pointer;
  }
}

@media screen and (min-width: 577px) {
  .selectMain1 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 370px;
  }

  .saladMainLi {
    width: 255px;
    border-radius: 5px;
  }

  .note {
    width: 160px;
  }

  .details {
    opacity: 0;
  }
}
